<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'Customer/vendor/fontawesome-free/css/all.min.css'%} ">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'Customer/css/sb-admin-2.min.css' %}">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar accordion" id="category">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">粥不出户</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <div id="category_content">
      <!-- Nav Item - Add types dynamically in js to here -->

      </div>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Shopping cart Sidebar -->
        <nav class="navbar navbar-light bg-white shadow" id="shopping_cart" style="display:none;z-index:2000;right:0;position:absolute;height:100%;min-width:40%;">
          <ul class="navbar-nav ml-auto" style="padding-top:10px;padding-left:10px;">

          <!-- Nav Item - Close button -->
          <li class="nav-item active" style="padding-bottom:30px;">
            <a id="cart_close" class="mb-5" onclick="cart_close()"> <i class="fa fa-times"></i></a>
          </li>

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
              <h6 class="font-weight-bold text-primary">订单</h6>
          </li>

          <!-- Nav Item - Checkout -->
          <li class="nav-item active">
            <button id="checkout" class="mt-2 mb-4 btn btn-primary" >结账 - <span id="checkout_price"></span></button>
          </li>

          <div id="shopping_cart_content">
            <!-- dynamically adding content -->
          </div>

        </ul>
      </nav>
        <!-- End of Shopping cart Sidebar -->

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-book"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Shoppingcart -->
              <li class="nav-item no-arrow">
                <button class="nav-link btn" role="button" id="cart_button" onclick="cart_onclick()">
                  <i class="fa fa-shopping-cart">
                    <span class="badge badge-danger badge-counter" id="cart_quantity"></span>
                  </i>
                </button>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - Moreinfo -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <!-- Dropdown - More Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" id="store_info_link" onclick="store_info_onclick()">
                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                    商家信息
                  </a>
                </div>

              </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Store_info Popup -->
      <div class="modal align-items-center justify-content-between" id="store_info">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content shadow">
            <div class="modal-header d-flex flex-row align-items-center">
              <a id="store_info_close" class="mr-5" onclick="store_info_close()"> <i class="fa fa-times"></i> </a>
              <h6 class="m-0 font-weight-bold text-primary">商家信息</h6>
            </div>
            <div class="modal-body">
              <h5>餐厅简介</h5>
              <div class="card" id="store_basic_info">

                <!-- dynamically adding content -->

              </div>
              </br>
              <h5>联系方式</h5>
              <div class="card" id="store_contact_info">

                <!-- dynamically adding content -->

              </div>
              <!--h5>营业时间</h5>
              <div class="card" id="store_open_info"-->

                <!-- dynamically adding content -->

              <!--/div-->
            </div>
          </div>
        </div>
      </div>


      <!-- Dish_info Popup -->
    <div class="modal" id="dish_info">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content shadow">
          <div class="modal-header">
            <h6 class="modal-title m-0 font-weight-bold text-primary" id="dish_name"></h6>
            <a id="dish_info_close" class="" onclick="dish_info_close()"> <i class="fa fa-times"></i> </a>
          </div>
          <div class="modal-body" id="dish_info_content">
            <!-- dynamically adding content -->
            <img class="card-img" id="dish_info_img"></img>
            <h5 class="mt-3">选项</h5>
            <div id="dish_info_options">
            </div>
          </div>
          <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-row">
              <a class="mr-2" id="dish_quan_minus"><i class="fa fa-minus"></i></a>
              <input id="dish_quantity" value="1" class="text-center" type="number" style="width: 2em;">
              <a class="ml-2" id="dish_quan_plus"><i class="fa fa-plus"></i></a>
            </div>
            <button id="dish_submit" class="btn btn-primary">添加 - $<span id="dish_total_price"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div id="dishes_holder">

    <!-- dynamically adding dishes here -->

    </div>

      </div>
      <!-- End of Main Content -->

      </div>

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

  <script type="text/javascript" src="{% static 'Customer/js/main_helper.js' %}"></script>

  <script type="text/javascript">
    var store_info_url = "{% url 'store_info' %}";
    var shopping_cart_url = "{% url 'shopping_cart' %}";
    var csrf_token = "{{csrf_token}}";
    function get_dishes_display(url){
      fetchJSON(url).then(display_dishes_by_kind);
    }

    get_dishes_display("{{fetch_url}}");
    fetchOrders(shopping_cart_url).then((data) => {
      if (data.order_num){
        order_quantity = data.order_num;
      } else {
        order_quantity = 0;
      }
      cart_quantity.innerHTML = order_quantity;
    });

  </script>
<!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
      <!-- jQuery -->
    <!-- jQuery -->
    <script  type="text/javascript" src="{% static 'Customer/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{% static 'Customer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="{% static 'Customer/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
	<script type="text/javascript" src="{% static 'Customer/js/sb-admin-2.js' %}"></script>
</body>
</html>
