<!DOCTYPE html>
{% load static %}
<html lang="zh">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>微信支付</title>

  <link rel="stylesheet" type="text/css" href="{% static 'Customer/vendor/fontawesome-free/css/all.min.css'%} ">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'Customer/css/sb-admin-2.min.css' %}">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto mr-auto">
            <a class="d-flex justify-content-center" href="#">
              <div class="sidebar-brand-text mx-3">粥不出户</div>
            </a>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">


      <div class="mb-5 mt-5 justify-content-center">
        <img src="https://qpsoftware.net/sites/default/files/articles/small/qr_wechat.jpg">
        <p class="font-weight-bold text-black-50">请在付款备注里留下你上页所填的一致的手机号码</p>
      </div>


      <div id="buttons_holder" class="row justify-content-center">
        <button id="pay_done" class="btn btn-success col-md-3">完成付款</button>
      </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script type="text/javascript">
      var pay_done = document.getElementById("pay_done");
      pay_done.onclick = function(){
        var request = new Request(".", {
                    method: 'PUT',
                    headers: {
                         'Content-Type': 'application/json',
                         'X-CSRFToken': "{{csrf_token}}"
                    },
                    });
        return fetch(request).then((response) => {
          if (response.status === 200) { // OK
            alert("完成付款，将转回菜单页面");
            location.href = "{% url 'customer_menu' }";
          }
        });
      };

  </script>



  <script  type="text/javascript" src="{% static 'Customer/vendor/jquery/jquery.min.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript" src="{% static 'Customer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script type="text/javascript" src="{% static 'Customer/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom Theme JavaScript -->
  <script type="text/javascript" src="{% static 'Customer/js/sb-admin-2.js' %}"></script>

</body>
