{% extends 'Manager/base.html' %}

{% block title %}历史订单{% endblock %}

{% block content %}
{% load static %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">历史订单</h1>
</div>

  <div id="holder" class="row"></div>
  <div id="footer"></div>

    <script  type="text/javascript" src="{% static 'Manager/js/ordershelper.js' %}"></script>

  <script type="text/javascript">
    var csrftoken = '{{ csrf_token }}';
    get_data_display("{{fetch_url}}");
  </script>
{% endblock %}
